<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.pydata.csindex.dao.mybatis.ZhongZhengDataDao">

	<insert id="addBondZhongzhengTes" parameterType="java.util.List">
		insert into bond_zhongzheng_te_2017(s1,s2,s3,s4,s5,s6,s7,opdate_time)
		values
		<foreach item="item" collection="list" separator=",">
			(#{item.s1}, #{item.s2}, #{item.s3}, #{item.s4}, #{item.s5}, #{item.s6},
			#{item.s7}, #{item.opdateTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert>
	
	<insert id="addBondZhongzhengTe" parameterType="BondZhongzhengTeEntity">
		insert into bond_zhongzheng_te_2017(s1,s2,s3,s4,s5,s6,s7,opdate_time)
		values(#{s1}, #{s2}, #{s3}, #{s4}, #{s5}, #{s6}, #{s7}, #{opdateTime,jdbcType=TIMESTAMP})
	</insert>
	
	<insert id="addBondZhongzhengVas" parameterType="java.util.List">
		insert into bond_zhongzheng_va_2017(s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,opdate_time)
		values
		<foreach item="item" collection="list" separator=",">
			(#{item.s1}, #{item.s2}, #{item.s3}, #{item.s4}, #{item.s5}, #{item.s6},
			#{item.s7}, #{item.s8}, #{item.s9}, #{item.s10}, #{item.s11}, #{item.opdateTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert>
	
</mapper>
